.container{
    width: 100%;
    height: 100%;
    background-color: #dbdbdb;
    padding: 20px 0px 40px 160px;
    
}
.head{
    width: 840px;
    height: 50px;
    text-align: center;
    background-color: #ffffff;
    margin-top: 20px;
}
.menu{
    width: 840px;
    color: #16a085;
    font-size:  12px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0px 0px 0px;
}
ul{
    list-style: none;
}
.item1{
    display: inline-block;
    margin-right: 40px;
}
.item4{
    display: inline-block;
}
.photo{
    background-image: url("../OY\ HW01\ Images/top-img@1X.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 840px;
    height: 518px;
}
.photo_shade{
    width: 840px;
    height: 518px;
}
.main{
    width: 840px;
    height: 480px;
    color: #373737;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 12px;
    background-color: #f3f3f3;
}
.text_title{
    margin-top: 0px;
    padding-top: 35px;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    text-align: center;
    color: #373737;
}
.paragraph1{
    width: 740px;
    margin-left: 50px;
    line-height: 2em;
}
.paragraph2{
    width: 740px;
    margin-left: 50px;
    line-height: 2em;
}
.button{
    width: 170px;
    height: 42px;
    background-color: #16a085;
    text-transform: uppercase;
    text-align: center;
    font-size: 11px;
    font-family: "GothamRounded", sans-serif;
    padding-top: 0px;
    color: white;
    border: none;
}
.footer{
    width: 840px;
    background-color: #ffffff;
}
.copyright {
    color: #373737;
    max-width: 780px;
    height: 30px;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-align: right;
    margin-right: 0px;
    padding: 20px 0px 30px 0px;
    background-color: #ffffff;
}

